.gif-item {
  position: relative;
  float: left;
  cursor: pointer;
}

.gif-actions {
  position: absolute;
  width: 100%;
  height: 100%;
}

.gif-item:not(.favorited) .gif-actions {
  background-color: rgba(255, 0, 0, 0);
}

.gif-item.favorited .gif-actions {
  background-color: rgba(255, 0, 0, 0.5);
}